body {
	margin: 0px;
	padding: 0;
	font-family: Century Gothic;
	
}

header {
	background-image: /*linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),*/ url(1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.wrapper > div{ /*do this first*/
	/*background: #eee;*/
	padding: 1em;

}

/*.wrapper >div:nth-child(odd) { do this second
	background: #ddd;
}*/

.wrapper { /*We now working on the grid*/
	display: grid;
	/*grid-template-columns: 70% 30%;*/
	grid-template-columns: 1fr 1.35fr ; /*Fraction function*/
	/*grid-column-gap: 1em;
	grid-row-gap: 1em; <this is for diff column n row gap function*/
	grid-gap: 1em;
	grid-auto-rows: minmax (80px, auto);
}

.logo img {
	float: left;
	width: 150px;
	height: auto; 
	position: fixed;
}


.nav { /*grid inside grid*/
	display: grid;
	grid-template-columns: repeat(4, 1fr); /*use for similar column size*/
	grid-auto-rows: minmax(35px, auto);
	grid-gap: 1em;
	position: fixed;
}

.nav li {
	border: #333 1px solid;
	padding: 0.3em;
	list-style-type: none; /*to delete bullet point*/
	text-align: center;
}

ul li a {
	text-decoration: none;
	font-size: 18px;
	color: black;
	transition: 0.6s ease;
	text-transform: uppercase;
	letter-spacing: 6PX;
}

ul li:hover{
	background-color: black;
	opacity: 0.7;
}

ul li a:hover{
	color: white
}

ul li.active{
	background-color: black;
}

ul li.active a{
	color: white;
}

.home {
	margin-top: 160px;
	padding-top: 5px;
	width:100%;
	height: 40vh;
	background-color: rgb(0,0,0, 0.5);

}

.home h1 {
	text-align: center;
	color: white;
	font-size: 60px;
	letter-spacing: 6px;
}


.home h2 {
	text-align: center;
	color: white;
	font-size: 30px;
	letter-spacing: 6px;
}

.main {
	display: grid;
	grid-template-columns: 1fr ; 
	grid-gap: 1em;
	grid-auto-rows: minmax (80px, auto);
	height: 100vh;
	background-color: #f0f1f2;
}
.main > div {
	text-align: center;
}

.title {
	margin-top: 120px;
	margin-bottom: -120px;
	font-size: 30px;
	letter-spacing: 6PX;
}

.events {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /*use for similar column size*/
	grid-auto-rows: 280px;
	grid-gap: 1em;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;

}

.events > div {
	text-align: center;
	background-color: rgb(0,0,0, 0.9);
	padding: 0.7em;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 15px 50px;
	box-shadow: 3px 8px 12px #888888;
}

.events > div h1  {
	text-decoration: none;
	color: white;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 6px;
}

.events > div h6  {
	color: 	#E0E0E0;
	margin: 10px;
	font-weight: lighter;	
}

.events > div h4  {
	color: 	#E0E0E0;
	margin-top: 25px;
	margin-bottom: -15px;
}

.events > div h5  {
	background: white;
	color: black;
	margin-top: 50px;
	padding: 0.5em;
	margin: 50px 60px;
	font-size: 18px;
	font-weight: lighter;	
	text-transform: uppercase;
	box-shadow: 3px 8px 12px #888888;
}

.confirm a {
	text-decoration: none;
	color: black;
}
.confirm:hover {
	background: #32CD32;
	color: white;
}
.confirm a:hover {
	color: white;
}


#about-us .whitebg {
	background: white;
	height: 130px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 2fr ;
	grid-auto-rows: 80vh;
	grid-gap: 0.7em;
	background-color: white;

}

.grid > div {
	text-align: center;
	color: white;
	background-color: black;
	padding: 30px;
}

.grid > div h1 {
	padding-top: 30px;
	font-size: 90px;
	text-transform: uppercase;
	letter-spacing: 15px;
}

.grid > div h2 {
	padding-top: 70px;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	text-align: justify;
	padding-left: 30px;
	padding-right: 15px;
}

#contact-us .whitebg {
	background: white;
	height: 130px;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr ;
	grid-auto-rows: 80vh;
	grid-gap: 0.3em;
	background-color: black;

}

.container > div {
	text-align: center;
	color: black;
	background-color: white;
	padding: 30px;
}

.container > div h1 {
	padding-top: 150px;
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 15px;
}

.detail {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /*use for similar column size*/
	grid-auto-rows: minmax(35px, auto);
	grid-gap: 1em;
	position: fixed;
	background-color: pink;
}

.detail {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /*use for similar column size*/
	grid-gap: 1em;
	position: fixed;
	background-color: pink;
}

.detail li {
	border: #333 1px solid;
	padding: 0.3em;
	list-style-type: none; /*to delete bullet point*/
	text-align: center;
}

ul li {
	text-decoration: none;
	font-size: 18px;
	color: black;
	transition: 0.6s ease;
	text-transform: uppercase;
	letter-spacing: 6PX;
}